<article>
  <h2>
    I Meant to say This
  </h2>
  <form class="edit-post-form">
    <div>
      <input class="form-input" name="post-title" type="text" value="{{post.title}}" />
      <input class="form-input" name="content" type="text" value="{{content}}" />
      <span>What you tought: ({{post.content}})</span>
    </div>
    <div>
      {{post.love_count}} {{format_plural "love(s) on this Thought" post.love_count}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button class="link" type="submit">Rethink to Update</button>
    <button class="link" type="button" class="delete-post-btn">Medidate to Flush</button>
  </form>
  <br>
</article>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>